{% extends "books/base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    
    <style>
        .book-title {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
          }
    </style>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-lg-auto shadow rounded d-flex flex-column justify-content-center align-items-center" style="margin-right: 30px; padding-bottom: 20px;">
        <img src="/media/{{book.image}}" alt="" width="240" height="400" class="img-fluid rounded shadow-lg" style="max-width: 100%; max-height: 400px; margin-bottom: 15px;">
        <p><b>Rating: {{ book.rating }}/5</b></p>
        <form method="post" action="{% url 'books:rate_book' book.id %}">
            {% csrf_token %}
            <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: -10px;">
                <div class="form-group col-md-8">
                    <label for="ratingSlider">Rate the book:</label>
                    <input type="range" min="1" max="5" value="3" class="form-range" id="ratingSlider" name="rating">
                </div>
                <button type="submit" class="btn btn-primary"  {% if not user.is_authenticated or rated %} disabled {% endif %}>Submit Rating</button>
            </div>
        </form>
        {% if book.file %}
        <a href="{{ book.file.url }}" class="btn btn-success" style="margin-top: 15px;" download>Buy Book</a>
        {% endif %}
    </div>
    <div class="col-lg shadow rounded p-4">
        <h2 class="book-title">{{ book.name }}</h2>
        <h4 class="text-muted"><i>{{ book.user.first_name }} {{ book.user.last_name }}</i></h4>
        <p class="mt-4">{{ book.description }}</p>
        <ul class="list-unstyled mt-3">
            <li><strong>ISBN:</strong> {{ book.isbn }}</li>
            <li><strong>Date published:</strong> {{ book.date_pub }}</li>
        </ul>
    </div>
</div>

<div class="container shadow rounded">
<h2 style="text-align: center;"><b>Reviews</b></h2>

<form method="post" action="{% url 'books:book_info' book.id %}">
    {% csrf_token %}
    
    {{form|crispy}}
    
    {% if user.is_authenticated %}
        <div class="container d-grid gap-2 col-3 mx-auto">
            <input type="submit" value="Write a review" class="btn btn-success">
        </div>
    {% else %}
        <div class="container d-grid gap-2 col-3 mx-auto">
            <button type="button" class="btn btn-success" disabled>Write a review</button>
        </div>
    {% endif %}
</form>

<div class="container">
    {% if latest_reviews_list %}
    <div class="d-grid gap-2">
        {% for review in latest_reviews_list %}
            <div class="row">
                <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                    <h5><a href="{% url 'books:profile' review.user.id %}">{{review.user.first_name}} {{review.user.last_name}}</a></h5>
                    <h6>@{{review.user.username}}</h6>
                </div>
                <div class="col">
                    <p style="text-align: right;">{{review.date_posted}}</p>
                    <p>{{review.text}}</p>
                    {% if review.user == request.user %}
                    <div class="d-flex justify-content-end">
                        <form method="post" action="{% url 'books:delete_review' review.id %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                        </form>
                    </div>
                    {% endif %}
                    <hr>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="d-grid align-items-center justify-content-center" style="margin-top: 30px;">
        <h4>There are no reviews.</h4>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}