{% extends "books/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-2">
    <h2>Create Book List</h2>

    <form method="get" class="mb-3">
        <input type="text" name="search" class="form-control" placeholder="Search books..." value="{{ search_query }}">
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>

    <form method="post" action="{% url 'books:create_book_list' %}">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'search' %}
                <div class="mb-3">
                    {{ field|as_crispy_field }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-2">Create Book List</button>
    </form>
</div>
{% endblock %}